mat-sidenav-container {
  min-height: calc(100vh - 64px);
}

.main-toolbar {
  .btn-menu {
    // ...
  }
}

.main-sidenav-container {
  .sidenav-menu {
    display: none;

    width: 100%;
  }
  .sidenav-menu.sidenav-menu-open {
    display: block;
    // position: absolute;
  }
}

.content {    
  padding-top: 15px;
}

@media (min-width: 992px) {
  .main-toolbar {
    .btn-menu {
      display: none;
    }
  }

  .main-sidenav-container {
    .sidenav-menu {
      display: block;
      width: 250px;
    }    
  }

  .content {    
    padding: 30px 10% 0 10%;
  }
}
