mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
  overflow-y: hidden;
}

.main-toolbar {
  display:flex;
  .btn-menu {
    // ...
  }
  .main__logo {
    height:60%;
    margin: calc(50% - 70px);
  }
}
.menu__container {
  .menu {
    display: none;
    width: 100%;
    padding-top: 1rem;
    .menu__item {
      .mat-list-item {
        margin: 0 2rem;
        padding-left: 1rem;
        &:hover {
        border-radius: 30px;
        background-color: var(--clug-background-color);
        }
      }
    }
    .menu__item.active .mat-list-item{
      color: var(--clug-primary);
      font-weight: 500;
    }
  }
  .menu.menu-open {
    display: block;  
    // position: absolute;
  }
}

.content {    
  padding-top: 15px;
}

@media (min-width: 992px) {
  .main-toolbar {
    .btn-menu {
      display: none;
    }
    .main__logo {
      margin: auto;
    }
  }

  .menu__container {
    .menu {
      display: block;
      width: 250px;
    }    
  }

  .content {    
    padding: 30px 10% 0 10%;
  }
}
