.member-table__row--negative-balance {
  background: linear-gradient(to right, var(--c-warning) 2px, transparent 3px);
  background-size: 100% 85%;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}
