.login {
  height: 100%;
  background-color: var(--clug-primary);

  .login__container {
    margin: 0 auto;
    position: relative;
    top: 25%; 
    transition: all .5s;
    width:80%;
  }
}
.home-container:hover .login-container,
.home-container:focus .login-container {
  transform: scale(1.2);
}
