button.login-button {
    background-color: #ff581a;
    color: #fff;
    display:block;
    margin: auto;
    &:focus {
        border-color:#ff581a; 
    }
    &:hover {
        color:#fff;
        background-color: darken(#ff581a, 10%);
    }
}