.datatable {
  width: 100%;
  border-spacing: 0px 5px;
  background: none;
  border-collapse: separate;

  tr {
    background: white;
  }
}

.actioncolumn {
  display: none;
  text-align: right;
}

.mobileactioncolumn {
  display: table-cell;
  text-align: right;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .actioncolumn {
    display: table-cell;
  }
  .mobileactioncolumn {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
