.loginform {
  margin: 0 auto;
  padding: 2rem;
  border-radius:0px;
  &__form {
    min-width: 150px;
    max-width: 500px;
    margin: 0 auto;
  }
  .loginform__button {
    margin-top: 5%;
    width: 80%;
    border-radius: var(--clug-btn-radius);
  }
}
.full-width-input {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .loginform {
    .loginform__button {
      width: 40%;
    }
  }
}
