.loginform {
  margin: 0 auto;
  padding: 2rem;
  border-radius:0px;
  &__form {
    min-width: 150px;
    max-width: 500px;
    margin: 0 auto;
  }
  button{ //BEM friendly ??
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
  }
}
.full-width-input {
  width: 100%;
}
