// Import Bootstrap and its default variables
$theme-colors: ("primary": #3cddb4,
  "secondary": #ff581a,
  "danger": #ff4136);
@import '~bootstrap/scss/bootstrap.scss';
@import './theming/alerts.scss';
@import './theming/button.scss';

/*! Clug theme */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
$font-family-base: 'Roboto',
sans-serif;
$headings-font-family: 'Roboto',
sans-serif;
$enable-grid-classes: false;
/* colors */

$primary: #3cddb4;
$primary-dark: darken($primary, 10%);
$primary-light: lighten($primary, 10%);
$secondary: #ff581a;
$secondary-dark: darken($secondary, 10%);
$secondary-light: lighten($secondary, 10%);
$success: #3cdd6a;
$danger: #c10903;
$danger-bg: lighten($danger, 55%);
$info: #0f81c7;
$warning: #ff581a;
$light-text: #ececec;
$dark-text: #565656;
$bg-light: #f5faf9;
$primary-o-25: rgba(60, 221, 180, 0.25);
$secondary-o-25:rgba(255, 88, 26, 0.25);


html {

  /* colors */
  --c-primary: #{$primary};
  --c-dark-primary: #{$primary-dark};
  --c-light-primary: #{$primary-light};
  --c-secondary: #{$secondary};
  --c-dark-secondary: #{$secondary-dark};
  --c-light-primary: #{$primary-light};
  --c-background-color: #{$bg-light};
  --c-danger: #{$danger};
  --c-danger-bg: #{$danger-bg};

  /* text */

  --c-light-text: #{$light-text};
  --c-dark-text: #{$dark-text};

  /* font sizes */
  --title-size: 1.3rem;
  --subtitle-size: 1.1rem;
  --text-size: 1rem;

  /* shapes */
  --c-radius: 15px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--c-dark-text);
  font-family: $font-family-base;
}

h1 {
  font-size: var(--title-size);
  font-weight: normal;
}

h2 {
  font-size: var(--subtitle-size);
  font-weight: normal;
}

p,
a {
  font-size: var(--text-size);
}
