$clug-background-color:#F5FAF9;
$clug-dark-text:#565656;
$clug-white-text:white;
$input-radius: 10px;
$card-radius: 15px;
$btn-radius:20px;
$clug-custom-primary: (
  50: #000000,
  100: #bef4e6,
  200: #92ecd5,
  300: #67e4c5,
  400: #3cddb4,
  500: #3cddb4,
  600: #1b9878,
  700: #1b9878,
  800: #0b4133,
  900: #041611,
  A100: #67e4c5,
  A200: #3cddb4,
  A400: #22c39a,
  A700: #1b9878,
  contrast: (
    50: #565656,
    100: #565656,
    200: #565656,
    300: #565656,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: #565656,
    A200: white,
    A400: white,
    A700: white,
  )
);

$clug-custom-secondary:(
  50: #ffece5,
  100: #ffc7b3,
  200: #ffa280,
  300: #ff7d4d,
  400: #ff581a,
  500: #ff581a,
  600: #e63e00,
  700: #b33100,
  800: #802300,
  900: #4d1500,
  A100: #ff7d4d,
  A200: #ff581a,
  A400: #ff581a,
  A700: #b33100,
  contrast: (
    50: #565656,
    100: #565656,
    200: #565656,
    300: #565656,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: #565656,
    A200: white,
    A400: white,
    A700: white,
  )
);
$clug-custom-warn:(
  50: #ffe9e5,
  100: #ffbdb3,
  200: #ff9280,
  300: #ff664d,
  400: #ff581a,
  500: #ff581a,
  600: #b31900,
  700: #801200,
  800:#4d0b00,
  900: #1a0400,
  A100: #ff9280,
  A200: #ff581a,
  A400: #ff581a,
  A700: #801200,
  contrast: (
    50: #565656,
    100: #565656,
    200: #565656,
    300: #565656,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: #565656,
    A200: white,
    A400: white,
    A700: white,
  )
);

@function clug-light-theme-foreground($color) {
  @return (
      base:              $color,
      divider:           rgba($color, 0.2),
      dividers:          rgba($color, 0.2),
      disabled:          rgba($color, 0.38),
      disabled-button:   rgba($color, 0.38),
      disabled-text:     rgba($color, 0.38),
      hint-text:         rgba($color, 0.38),
      secondary-text:    rgba($color, 0.54),
      icon:              rgba($color, 0.54),
      icons:             rgba($color, 0.54),
      text:              rgba($color, 0.87),
      slider-off:        rgba($color, 0.26),
      slider-off-active: rgba($color, 0.38),
      slider-min:        rgba($color, 0.38)
  );
};

$text: clug-light-theme-foreground($clug-dark-text);