.dashboard {
  text-align: center;
  .header{
    padding: 5px;
  }
  .icon{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .chart {
    position: relative;
    height: 70vh;
    width: 80vw;
  }
  .statistics { //TEMP

  }
}
