.restview {
}

.actionline {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin: 25px 15px 25px 15px;
}

.actionline__filter {
  width: 70%;
  margin-right:auto;
}

.actionline__menu {
  margin-right: 10px;
}

.datatable {
  // width: 100%;
  // display: block;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 992px) {
}