button.btn, a.btn {
    &:focus {
        border-color: rgba(255, 255, 255, 0.0);
        box-shadow: 0 0 0 0.2rem rgba(255, 88, 26, 0.2);
    }
    &.btn-icon {
        color: var(--c-primary);
        background-color: transparent;
        border: none;
        font-size: var(--subtitle-size);
        &:hover {
            color: var(--c-dark-primary); 
        }
        &.white {
            color: var(--c-light-text);
            &:hover {
                filter: brightness(0.8);
            }
        }
        &.warning {
            color: var(--c-warning);
            &:hover {
                filter: brightness(0.8);
            }
        }
        &[disabled=""] {
            opacity: 0.3;
            pointer-events: none;
        }
    }
}

.login .btn-secondary {
        display: block;
        margin: auto;
}

.add {
    font-size: 2.9rem;
    font-weight: lighter;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    line-height: 2.9rem;
    padding: 0;
    margin-left: auto;
    margin-top: -2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.edit, .delete, .whiteIcon {
    height: 1.5rem;
    width: 1.5rem;
}
.edit {
    fill: var(--c-primary);
}
.delete {
    fill: var(--c-secondary);
    height: 1.5rem;
    width: 1.5rem;
}

.whiteIcon {
    fill: #fff;
    opacity: 1;
}

.save-cancel-group {
    display: flex;
    justify-content: space-evenly;
    .btn-primary {
        width: 70%;
        margin-left: 2rem;
    }
    a {
        width: 30%;
       .btn-secondary {
           width: 100%;
       }
    }
}


.btn-delete {
    padding: 0;
}

.pagination {
    margin: auto;
}

.table th {
    border-top: none;
}
